/* Plus Petits ecrans */

@media screen and (max-width: 768px)

{

    section.sc1 img{
        width: 235px !important;
        height: 200px !important;
        margin: 5px !important;
    }

    section.sc1 .img1{
        padding-top: 30px !important;
        border-right: none !important;
    }
    section.sc1 .img2{
        border-left:none !important;
    }
    section.sc1 .img3{
        padding-top: 30px !important;
        border-right: none !important;
    }

}

/* General */

*{
    margin: 0;
    padding: 0;
    font-family: "Merienda",cursive;
}

.ti{
    color: orange;
    margin: 10px;
}

/*  Header nav   */

header nav .container a {
    color: white;
}

header nav .container #mynav ul li a{
    text-decoration: none;
    margin-right: 10px;
}

header nav .container #mynav ul li a:hover{
    color: orange;
}

#accueil{
    width: 100%;
    height:auto; 
    background: url('../img/water.jpg') no-repeat top center;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

#accueil .cont{
    width: 100%;
    height: 100%;
    padding: 250px 0px;
    background-color: rgba(0,0,0,0.7);
}

header .container .bienvenue h1 {
    color: white;
    text-shadow: 2px 1px black;
    padding: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
header .container .bienvenue p {
    color: #fafafa;
    text-shadow: 2px 1px black;
    font-size: 20px;
    margin-bottom: 40px;
}
header .container .bienvenue a {
    background-color: rgba(255,255,255,0.5);
    padding: 13px;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}
header .container .bienvenue a:hover {
    background-color: rgba(255,255,255,0);
    padding: 15px;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 1px black;
    text-shadow: 2px 1px black;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s ;
    transition: background-color 1s;
}

/* SECTION */
section.sc1{
    background: url("../img/round.png");
}

section.sc1 img{
    width: 460px;
    height: 430px;
    margin: 30px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px black;
}

section.sc1 h1{
    font-size: 2rem;
    font-weight: normal;
    padding: 40px;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    display: inline-block;
}


section.sc1 .img1{
    float: left;
    margin-right:50px;
    border-right: 1px solid gray;
    display: inline-block;
}
section.sc1 .img2{
    float: right;
    margin-left:50px;
    border-left:1px solid white;
    display: inline-block;
}
section.sc1 .img3{
    float: left;
    margin-right: 50px;
    border-right: 1px solid gray;
    display: inline-block;
}

section.sc1 .sect{
    text-align: center;
    padding-top: 80px;
    text-shadow: 1px 1px gray;
}

section.sc1 .mil{
    color: white;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 150%;
    padding-bottom: 45px;
}

section.sc1 .mil .h1s{
    border-bottom: 1px solid white;
}

section.sc1 p{
    font-size:27px; 
}

/* SECTION 2 */

section.sc2{
    width: 100%
    height:auto;
    text-align: center;
    background: url('../img/eiffel.jpg') no-repeat bottom;
}

section.sc2 .bgc{
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
     padding-top: 20px;
    background-color: rgba(0,0,0,0.6);
}

section.sc2 h1 {
    color: white;
    text-shadow: 1px 2px black;
    font-size: 2rem;
    font-weight: normal;
    padding: 40px;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    display: inline-block;
}

section.sc2 div img{
    width: 225px;
    height: 200px;
    margin: 5px;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 2px black;
}

section.sc2 .bgc .container div.ser {
    padding-bottom: 30px;
}

section.sc2 div img:hover{
    border-radius: 5px;
    transition: border-radius 2s;
}

/* SECTION 3  */

section.sc3{
    width: 100%
    height:auto;
    padding-top: 50px;
    background: url("../img/round.png");
}

section.sc3 .conta h1 {
    font-size: 2rem;
    font-weight: normal;
    padding: 40px;
    border-bottom: 1px solid gray;
    display: inline-block;
    margin-bottom: 30px;
}

section.sc3 .conta p{margin-bottom: 30px;}
section.sc3 .conta form{margin-bottom: 20px;}


/*  FOOTER */

footer{
    padding: 25px;
}
